p{font-size: 20px;}
img{border: 1px solid black; border-radius: 25px;}
li{margin-bottom: 8px;}
ul{background-color: #f7f9fc; margin-top: 25px; 
	padding: 30px 55px; 
	border-radius: 8px;}
header{background-color: #f0f8ff; padding: 140px 0 100px;
background-image: url("../img/dog-header.png");
background-size: cover; background-position: center center;
background-repeat: no-repeat; color: solid grey;}
.first-section{background-color: white;}
.section{padding-top: 60px; padding-bottom: 40px;}
body{color: #4a4a4a;}
.first-section img{margin-bottom: 35px;}
@media (min-width: 768px){.first-section img{margin-bottom: 20px;}}
@media (min-width: 992px){.first-section img{margin-bottom: 0;}}
h1{font-size: 36px;}
@media (min-width: 576px){h1{font-size: 48px;}}
@media (min-width: 576px){.section{padding: 100px 0;}}
@media (min-width: 576px){header{padding: 200px 0;}}
.second-section{background-color: #fbfbfb}
.linha-2{height: 75px; width: 75px; border-top: 25px; border-bottom: 10px;}
.texto{font-size: 18px; color: #9DA2A6}
.nav-item{margin: 10px 16px;}
.navbar-brand img{height: 46px; margin-right: 8px; width: 46px;}
.third-section{background: white}
.third-section img{margin-top: 35px;}
@media (min-width: 576px){.third-section img{margin-top: 0;}}
.fourth-section{background-color: #f0f8ff; padding: 192px 192px;
background-image: url("../img/dogs-pattern.png");
background-size: normal; background-position: center center;
background-repeat: repeat; color: solid grey;}
footer{background-color: white; padding: 35px 0;}
.footer-logo{height: 22px; margin-bottom: 3px; width: 22px;}